<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smarthousehold.mapper.FanMapper">
	<!--
		(过期)
        数据库中有两个表，分别是information_，主码是settime，另外两个属性是tem和humidity
                             status_,主码是pojo，另外两个属性是Stem和Shumidity
        其中status_表默认设置有主码value值为curtain，Stem值为0，Shumidity值为0的一栏，
        所以status_没有相关的addsql   date_fommat(now(),'%m-%d-%H'),其中H大写表示24小时制(00-23),m(00-12),d(00-31),i(00,59)
    -->
	<insert id="addFanData" parameterType="com.smarthousehold.pojo.Data_Fan">
		insert into fan_data_(settime,tem,humidity,fid) VALUES(date_format(now(),'%m-%d,%H:%i'),#{tem},#{humidity},#{fid})
	</insert>

	<!--通过时间(mm-dd-hh)以及cid的字符串获取温湿度-->
	<select id="getFanData" parameterType="java.util.Map" resultType="com.smarthousehold.pojo.Data_Fan">
		select * from fan_data_ where settime like #{settime} and fid = #{fid}
	</select>

	<select id="getFan" parameterType="java.lang.String" resultType="com.smarthousehold.pojo.Fan">
		select * from fan_ where fid=#{fid}
	</select>

	<select id="getAllFan"  resultType="com.smarthousehold.pojo.Fan">
		select * from fan_
	</select>

	<update id="updateFan" parameterType="com.smarthousehold.pojo.Fan">
		 update fan_ set Stem=#{Stem},Shumidity=#{Shumidity} where fid=#{fid}
	 </update>

	<update id="updateFanState" parameterType="com.smarthousehold.pojo.Fan">
		 update fan_ set state=#{state} where fid=#{fid}
	 </update>

	<insert id="addFan" parameterType="com.smarthousehold.pojo.Fan">
		insert into fan_(fid,Stem,Shumidity,state) values (#{fid},#{Stem},#{Shumidity},#{state})
	</insert>

	<delete id="deleteFan" parameterType="java.lang.String">
		delete from fan_ where fid = #{fid}
	</delete>
    <select id="findAll" resultType="com.smarthousehold.pojo.Fan">
		select  * from fan_ ORDER BY fid DESC
	</select>
    <select id="findDetailByFid" resultType="com.smarthousehold.pojo.Data_Fan">
		select * from fan_data_ where fid=#{fid}
	</select>
	<delete id="deleteFan_data">
		delete from fan_data_ where fid=#{fid}
	</delete>
	<delete id="deleteFan_user">
		delete from user_fan_ where fid=#{fid}
	</delete>
	<select id="findOtherFan" resultType="com.smarthousehold.pojo.Fan">
		select * from fan_ where fid not in (select fid from user_fan_ where username=#{user})
	</select>
	<select id="findFanByUsername" resultType="com.smarthousehold.pojo.Fan">
		 select * from fan_ where fid in (select fid from user_fan_ where username=#{username})
	</select>
</mapper>

