<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarthousehold.mapper.UserMapper">

    <select id="findByUsername" resultType="com.smarthousehold.pojo.User">
        select * from user_ where username=#{username}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user_(username,password,email,activate,code,rolename) values (#{username},#{password},#{email},#{activate},#{code},#{rolename})
    </insert>
    <update id="updateUser" parameterType="com.smarthousehold.pojo.User">
        update user_ set password=#{password} where  username=#{username}
    </update>
    <select id="findByCode" resultType="User">
        select * from user_ where code=#{code}
    </select>
    <update id="updateStatus" parameterType="com.smarthousehold.pojo.User">
        update user_ set activate='Y' where  username=#{username}
    </update>

</mapper>