<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarthousehold.mapper.UserMapper">

    <select id="findByUsername" resultType="com.smarthousehold.pojo.User">
        select * from user_ where username=#{username}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user_(username,password,email,activate,code,rolename) values (#{username},#{password},#{email},#{activate},#{code},#{rolename})
    </insert>
    <update id="updateUser" parameterType="com.smarthousehold.pojo.User">
        update user_ set password=#{password} where  username=#{username}
    </update>
    <update id="updateforgetcode" parameterType="com.smarthousehold.pojo.User">
        update user_ set forgetcode = #{forgetcode} where username=#{username}
    </update>
    <select id="findByCode" resultType="User">
        select * from user_ where code=#{code}
    </select>
    <update id="updateStatus" parameterType="com.smarthousehold.pojo.User">
        update user_ set activate='Y' where  username=#{username}
    </update>
    <select id="findAll" resultType="com.smarthousehold.pojo.User">
        select * from user_ ORDER BY username DESC
    </select>
    <delete id="delUserByUsername">
        delete from user_ where username=#{username}
    </delete>
    <update id="editUserByUsername" parameterType="User">
        update user_ set activate=#{activate},email=#{email},rolename=#{rolename} where username=#{username}
    </update>
    <select id="searchAutoPrompt" resultType="string">
        select username from user_ where username like concat(#{key},'%')
    </select>
    <select id="searchByUsername" resultType="com.smarthousehold.pojo.User">
         select * from user_ where username like concat(#{string},'%')
    </select>
    <delete id="delUser_Curtain">
        delete from user_curtain_ where username=#{username}
    </delete>
    <delete id="delUser_fan">
        delete from user_fan_ where username=#{username}
    </delete>
    <insert id="addUserCurtain" parameterType="string">
        insert into user_curtain_(username,cid) values(#{param1},#{param2})
    </insert>
    <insert id="addUserFan" parameterType="string">
          insert into user_fan_(username,fid) values(#{param1},#{param2})
    </insert>
    <resultMap id="user2"   type="com.smarthousehold.pojo.UserInfo">
        <id property="username" column="username"></id>
        <collection property="curtains" ofType="com.smarthousehold.pojo.Curtain" select="com.smarthousehold.mapper.CurtainMapper.findCurtainByUsername" column="username"></collection>
        <collection property="fans" ofType="com.smarthousehold.pojo.Fan" select="com.smarthousehold.mapper.FanMapper.findFanByUsername" column="username"></collection>
    </resultMap>
    <select id="findDetail" resultMap="user2" >
       select * from user_ where username=#{username}
    </select>

</mapper>